.header {
  position: sticky;
  top: 0;
  z-index: var(--z-index-header);
  background-color: rgb(from var(--color-background) r g b / 80%);
  backdrop-filter: blur(6px);
}

.headerInner {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 54rem;
  height: 100%;
  height: var(--header-height);
  margin-inline: auto;
}

.headerInner::before {
  content: '';
}

.menuWrapper {
  display: flex;
  align-items: center;
}

@media screen and (width <= 1120px) {
  .headerInner {
    padding-inline: 1.5rem;
  }
}
