.header {
  position: sticky;
  top: 0;
  z-index: var(--z-index-header);
}

.headerInner {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 54rem;
  height: 100%;
  height: var(--header-height);
  margin-inline: auto;
}

.headerInner::before {
  content: '';
}

@media screen and (width <= 1120px) {
  .headerInner {
    padding-inline: 1.5rem;
  }
}

@media screen and (width <= 767px) {
  .header {
    position: fixed;
    top: unset;
    bottom: 0;
    bottom: 1.5rem;
    left: 50%;
    height: auto;
    transform: translateX(-50%);
  }

  .headerInner {
    height: auto;
  }
}
