.wrapper {
  position: relative;
  display: inline-flex;
  gap: 0.125rem;
  align-items: center;
  padding-inline: 1.25rem 0.25rem;
  margin-inline-start: 0.5rem;
  border-radius: var(--rounded-sm);
  transition: background-color 0.2s;
}

.wrapper:hover {
  background-color: rgb(from var(--color-background-soft) r g b / 100%);
}

.wrapper:has(.select:focus) {
  outline: 1px solid var(--color-focus);
}

.select {
  position: relative;
  padding-block: 0.25rem;
  padding-inline: 0.25rem;
  font-size: 0.875rem;
  color: inherit;
  cursor: pointer;
  -webkit-background: none;
  background: transparent;
  -webkit-border: none;
  border: none;
}

.select:focus {
  outline: none;
}

.icon {
  position: absolute;
  top: 50%;
  left: 0.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 0.75rem;
  height: 0.75rem;
  color: inherit;
  transform: translateY(-50%);
}
