.list {
  display: grid;
  gap: 1rem;
  padding-block: 2rem;
}

.link {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0 1rem;
  padding: 0.5rem;
  color: var(--color-text-base);
  border-radius: var(--rounded-sm);
  transition: background 0.2s;
}

@media (any-hover: hover) {
  .link:hover {
    color: var(--color-text-heading);
    background: var(--color-background-soft);
  }
}

.date {
  font-weight: 300;
  color: var(--color-text-base);
}

@media (any-hover: hover) {
  .link:hover .date {
    color: var(--color-text-heading);
  }
}

@media (width <= 640px) {
  .link {
    grid-template-columns: 1fr;
  }

  .date {
    font-size: 0.8125rem;
  }
}
