.list {
  display: grid;
  margin-top: 1.5rem;
}

.item {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding-block: 0.5em;
  border-bottom: 0.0625rem solid var(--color-border);
}

.title {
  font-size: 1.125rem;
  color: var(--color-text-heading);
}

.title:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.0625rem;
  text-decoration-color: rgb(from var(--color-text-muted) r g b / 40%);
  text-underline-offset: 0.1875rem;
}

.itemContent {
  display: grid;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25em;
  text-transform: capitalize;
}

.tagLink {
  font-size: 0.75rem;
  color: var(--color-text-muted);
}

.tagLink:hover {
  text-decoration: underline;
  text-decoration-color: rgb(from var(--color-text-muted) r g b / 40%);
  text-underline-offset: 0.125rem;
}

.date {
  font-size: 0.875rem;
  color: var(--color-text-base);
  letter-spacing: 0.05em;
}
