.item {
  display: grid;
  gap: 0.5rem;
  padding: 1.75rem 1.5rem;
  font-size: 1rem;
  border: 1px solid var(--color-border-muted);
  border-radius: var(--rounded-lg);
  transition: background 0.2s;
}

@media (any-hover: hover) {
  .item:hover {
    background: var(--color-background-soft);
  }
}

.item:focus {
  background: var(--color-background-soft);
}

.title {
  font-size: 1em;
  font-weight: 500;
}

.topics {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 0.25rem;
  font-size: 0.75rem;
}

.topic {
  display: grid;
  place-items: center center;
  height: 1.5rem;
  padding-inline: 0.625rem;
  padding-bottom: 0.05rem;
  color: var(--color-text-muted);
  letter-spacing: 0.01em;
  border: 1px solid var(--color-border);
  border-radius: var(--rounded-full);
}
