.container {
  padding-block: 2rem 4rem;
}

.section {
  padding-block: 3.5rem;
}

.sectionTitle {
  padding-bottom: 1.75rem;
  font-size: 1.5rem;
}

@media screen and (width <= 576px) {
  .section {
    padding-block: 2rem;
  }
}

.pageHeading {
  padding-block: 0 1.25rem;
}

.heroText {
  font-size: 1rem;
}

@media screen and (width <= 576px) {
  .pageHeading {
    padding-bottom: 0.75rem;
  }

  .heroText {
    font-size: 0.9375rem;
  }
}

.bioList {
  display: grid;
  gap: 1rem;
  padding-left: 1.5rem;
  margin-left: 0.25rem;
  border-left: 1px solid var(--color-border);
}

.bioItem {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.25rem;
  font-size: 1rem;
}

.bioItem[data-current='true']::after {
  position: absolute;
  left: -1.55rem;
  display: block;
  width: 1px;
  height: 100%;
  margin-inline: auto;
  content: '';
  background-color: var(--color-primary);
  border-radius: 9999em;
}

.bioDate {
  font-size: 0.875em;
}

@media screen and (width <= 576px) {
  .bioList {
    padding-left: 0.75rem;
  }

  .bioItem {
    font-size: 0.875em;
  }

  .bioItem[data-current='true']::after {
    left: -0.8rem;
  }
}

.buttonArea {
  display: inline-grid;
  grid-template-columns: auto auto;
  gap: 0.5rem;
  align-items: center;
}

.buttonGithub {
  display: inline-grid;
  display: inline-flex;
  grid-template-columns: 1fr auto;
  gap: 0.5rem;
  place-items: center center;
  justify-content: center;
}

@media screen and (width <= 576px) {
  .buttonArea {
    grid-template-columns: 1fr;
    width: 100%;
  }
}
