.container {
  width: 100%;
  max-width: var(--container-width);
  margin-inline: auto;
}

.page {
  padding-block: 4.5rem 5rem;
}

@media screen and (width <= 64rem) {
  .container {
    padding-inline: 1.5rem;
  }
}

@media screen and (width <= 40rem) {
  .page {
    padding-block: 2.5rem 2rem;
  }
}
