:root {
  --background: #ffffff;
  --foreground: #18181b;
  --foreground-muted: #6c6c70;
  --border: #e7e3e4;
  --container-width: 48rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #18181b;
    --foreground: #e4e4e7;
    --foreground-muted: #a1a1aa;
    --border: #3f3f47;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  color: var(--foreground);
}

h2 {
  font-size: 1.25em;
  margin-block-end: 0.75em;
}

h3,
h4,
h5,
h6 {
  font-size: 1em;
}

p {
  font-size: 0.875rem;
  color: var(--foreground-muted);
}

a {
  color: inherit;
  text-decoration: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}
