.headingPosition {
  display: flex;
  font-size: 1.125rem;
  margin-block-end: 0.75em;
  font-weight: 500;
}

.headingPosition h1 {
  font-weight: 500;
  font-size: 1.125rem;
}

.headingText {
  color: var(--foreground);
  font-size: 1rem;
  float: left;
}

.section {
  margin-block-start: 8rem;
}

.sectionHeading {
  font-size: 1.125rem;
}

.bioList {
  list-style: none;
}

.bioItem {
  padding-block: 0.5em;
  padding-inline-start: 1.5em;
  display: grid;
  color: var(--foreground-muted);
  gap: 0.125rem;
  font-size: 0.9375rem;
  border-inline-start: 0.125rem solid var(--border);
}

.bioDate {
  font-size: 0.95em;
}

.bioItem[data-current="true"] {
  font-weight: 500;
  color: var(--foreground);
  border-inline-start-color: var(--foreground);
}

.stackContainer {
  display: grid;
  gap: 3rem;
}

.stackCard {
  width: 100%;
}

.stackCategory {
  font-size: 1rem;
  font-weight: 500;
  margin-block: 0.75rem 0.875em;
}

.stackItems {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7.5rem, 1fr));
  gap: 1rem;
}

.stackItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.375rem;
  font-size: 0.875rem;
}

.stackLabel {
  font-size: 0.8125rem;
  color: var(--foreground);
}
