.container {
  padding-block: 3.5rem 4rem;
}

.section {
  padding-block: 3.5rem;
}

.sectionTitle {
  padding-bottom: 1rem;
  font-size: 1.5rem;
}

@media screen and (width <= 576px) {
  .container {
    padding-block: 3rem 4rem;
  }

  .section {
    padding-block: 2rem;
  }
}

.hero {
  padding-bottom: 2rem;
}

.heroHeading {
  float: left;
  margin-right: 0.5rem;
  font-size: 1.125rem;
}

.heroText {
  font-size: 1.125rem;
}

.heroButtonContainer {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  justify-content: flex-start;
  margin-top: 1rem;
}

.heroButtonIcon {
  display: inline-flex;
  align-items: center;
}

@media screen and (width <= 576px) {
  .pageHeading {
    padding-bottom: 0.75rem;
  }

  .heroButtonContainer {
    flex-direction: column;
    align-items: flex-start;
  }

  .heroButtonContainer a {
    width: 100%;
  }
}

.bioList {
  display: grid;
  gap: 1rem;
  padding-left: 1.5rem;
  margin-left: 0.25rem;
  border-left: 2px solid var(--color-border);
}

.bioItem {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.25rem;
  font-size: 1rem;
}

.bioItem[data-current='true'] {
  color: var(--color-text-heading);
}

.bioItem[data-current='true']::after {
  position: absolute;
  left: -1.625rem;
  display: block;
  width: 2px;
  height: 100%;
  margin-inline: auto;
  content: '';
  background-color: var(--color-primary);
}

.bioDate {
  font-size: 0.875em;
  line-height: 1.5;
}

.bioBody {
  line-height: 1.5;
}

@media screen and (width <= 576px) {
  .bioList {
    padding-left: 0.75rem;
  }

  .bioItem[data-current='true']::after {
    left: -0.9rem;
  }
}

.stackContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.stackCard {
  padding: 1rem 1.5rem;
  font-size: 0.875rem;
  border: 1px solid var(--color-border-muted);
  border-radius: var(--rounded-lg);
}

.stackCategory {
  padding-bottom: 0.75rem;
  font-size: 1rem;
}

.stackList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.stackItem {
  display: inline-grid;
  grid-template-columns: auto 1fr;
  gap: 0.75rem;
  align-items: center;
}

.stackButton {
  margin-top: 2.5rem;
  text-align: center;
}

@media screen and (width <= 767px) {
  .stackContainer {
    grid-template-columns: 1fr;
  }
}

.buttonArea {
  display: inline-grid;
  grid-template-columns: auto auto;
  gap: 1rem 0.5rem;
  align-items: center;
}

.buttonGithub {
  display: inline-flex;
  grid-template-columns: 1fr auto;
  gap: 0.75rem;
  place-items: center center;
  justify-content: center;
}

@media screen and (width <= 576px) {
  .buttonArea {
    grid-template-columns: 1fr;
    width: 100%;
  }
}
