.button {
  cursor: pointer;
  transition: background 0.2s;
}

.button:focus-visible {
  outline-offset: 1px;
}

/* Size */
.small {
  padding: 0.25rem 0.75rem;
  font-size: 0.75rem;
  border-radius: 4px;
}

.medium {
  min-width: 10rem;
  padding: 0.7rem 2rem;
  font-size: 0.875rem;
  border-radius: var(--rounded-full);
}

.large {
  min-width: 16rem;
  padding: 1rem 2.5rem;
  font-size: 0.875rem;
  border-radius: var(--rounded-full);
}

/* Visual */
.primary {
  display: inline-flex;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
  color: var(--color-button-primary-foreground);
  background-color: var(--color-button-primary);
  border: 1px solid var(--color-primary);
}

.primary:hover,
.primary:focus-visible {
  background-color: color-mix(in srgb, var(--color-button-primary) 85%, black 15%);
}

.primary:focus-visible {
  outline: 2px solid var(--color-focus);
}

.secondary {
  display: inline-flex;
  gap: 0.5em;
  justify-content: center;
  color: var(--color-button-secondary-foreground);
  background: transparent;
  border: 1px solid var(--color-border);
  transition: background 0.2s;
}

.secondary:hover,
.secondary:focus-visible {
  background: var(--color-button-secondary);
}

.secondary:focus-visible {
  outline: 2px solid var(--color-focus);
}

.outline {
  display: inline-flex;
  gap: 0.5em;
  justify-content: center;
  color: var(--color-heading);
  background: transparent;
  border: 1px solid var(--color-border);
  transition:
    background 0.2s,
    color 0.2s,
    border 0.2s;
}

.outline:hover,
.outline:focus-visible {
  color: var(--color-text-heading);
  background: var(--color-background-soft);
  border: 1px solid;
}

.outline:focus-visible {
  outline: 2px solid var(--color-focus);
}
