.title {
  text-shadow: var(--shadow-md);
  background-image: var(--gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contents {
  display: grid;
  gap: 4rem;
}

.sectionTitle {
  padding-bottom: 1rem;
  text-shadow: var(--shadow-md);
  background-image: var(--gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.articles {
  padding-top: 2rem;
}
