.menu {
  padding: 0 0.75rem;
  border-radius: var(--rounded-full);
}

.menuItem {
  position: relative;
  padding: 0.25rem 0.75rem 0;
  font-size: 0.875rem;
  color: var(--color-text-base);
  transition: color 0.3s;
}

.active {
  position: relative;
  color: var(--color-primary);
}

.active::after {
  position: absolute;
  bottom: -0.067rem;
  left: 50%;
  display: block;
  width: 50%;
  height: 1px;
  content: '';
  background: var(--color-primary);
  transform: translate(-50%);
}

.menuItem:hover {
  color: var(--color-primary);
}

.menuMobile {
  display: none;
}

.icon {
  display: inline-grid;
  flex-direction: column;
  place-items: center center;
  padding: 0.35rem;
  color: inherit;
}

.icon svg {
  display: inline-flex;
  width: 1.4rem;
  height: 1.4rem;
  aspect-ratio: 1;
}

.icon.active {
  color: var(--color-primary);
}

.icon.active svg {
  color: var(--color-primary);
}

.icon.zenn svg {
  width: 1.05rem;
  height: 1.35rem;
}

.icon.zenn.active::after {
  bottom: -0.05rem;
}

.menuLabel {
  align-self: end;
  font-size: 0.625rem;
  line-height: 1.45;
}

@media screen and (width <= 767px) {
  .menu {
    padding-inline: 0.75rem;
  }

  .menuDefault {
    display: none;
  }

  .menuMobile {
    display: flex;
    gap: 0.25rem;
    align-items: stretch;
  }

  .menuItem {
    padding-block: 0.75rem;
  }

  .active::after {
    display: none;
  }
}
