.menuList {
  display: flex;
}

.menuItem {
  padding-inline: 1rem;
  font-size: 0.875rem;
  color: var(--color-text-base);
  transition: color 0.3s;
}

.active {
  color: var(--color-primary);
}

.menuItem:hover {
  color: var(--color-primary);
}
